body{
    font-family: 'Poppins', sans-serif;
}

.logo {
    text-decoration: none;
    font-size: 30px;
    color: #009ABB;
    font-weight: 500;
}

.logo:hover {
    color: #009ABB;
}

.navLink {
    text-decoration: none;
    color: #000;
    margin-right: 10px;
    font-weight: 500;
    font-size: 18px;
}

.menu-btn {
    background-color: #06a3da;
    color: #fff;
    padding: 7px 25px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    transition: 0.5s;
}

.menu-btn:hover {
    background-color:#0385b4;
    color: #fff;
}

.menu-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.menu-color {
    color: #0385b4;
}
