body{
    font-family: 'Poppins', sans-serif;
}

.logo {
    text-decoration: none;
    font-size: 30px;
    color: #009ABB;
    font-weight: 500;
}

.navLink {
    text-decoration: none;
    color: #000;
    margin-right: 28px;
    font-weight: 500;
    font-size: 18px;
}
