.testimonial-btn {
    border: 2px solid #fff;
    background: #009ABB;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    padding: 8px 25px;
}

.testimonial-btn:hover {
    border: 2px solid #009ABB;
    background: transparent;
    text-decoration: none;
    color: #000;
    padding: 8px 25px;
}

.testimonial-img {
    width: 100px;
    height: 100px;
    border: 2px solid #009ABB;
    border-radius: 50%;
}
