.banner {
    background: linear-gradient(to right, #0099bb8f 10%, #155799), 
    url('../../../images/banner/banner1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content {
    height: 100vh;
}

.banner-btn {
    background-color: #0588b8;
    color: #fff;
    padding: 7px 25px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    transition: 0.5s;
    box-shadow: 1px 1px 3px 1px #54d3ff;
}

.banner-btn:hover{
    background-color: #016d97;
}