.section-top {
    background: linear-gradient(to right, #0099bb8f 10%, #155799), 
    url('../../images/dental-fb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 250px;
}
